

<h1> These are blog recommendatinos you may like </h1>

<div class="well">
    
    <div class="float">
        <%= link_to image_tag("http://www.fmylife.com/images/favicon/FML-fb-310x310.png", alt: "Rails logo", :size => "200x200"), 'http://www.fmylife.com/' %>        
    </div class="float2">
        <%= link_to image_tag("http://www.kdnuggets.com/wp-content/uploads/mashable1.png", alt: "Rails logo", :size => "200x200" ), 'http://mashable.com/' %>
    <div>
        
    </div>
    
    <div>
        
    </div>
    
    <div>
        
    </div>
    
</div>